name: unit-test-and-coverage

on:
  pull_request:
    branches: [ main ]

  workflow_dispatch:

env:
  image-name-unit-tests: unit-tests:latest

jobs:
  unit-test-and-coverage:
    runs-on: ubuntu-latest

      steps:
        - name: Checkout repo
          uses: actions/checkout@v2
          with:
            # Disabling shallow clone is recommended for improving relevancy of reporting
            fetch-depth: 0

        - name: Unit tests [build]
          run: docker build --target unit-test -t ${{ env.image-name-unit-tests }} .

        - name: Unit tests [run]
          run: docker run --rm -v ${{ github.workspace }}/path/to/artifacts/testresults:/code/test/Samples.WeatherForecast.Api.UnitTest/TestResults ${{ env.image-name-unit-tests }}

        - name: Code coverage [codecov]
          uses: codecov/codecov-action@v1.2.1
          with:
            files: ${{ github.workspace }}/path/to/artifacts/testresults/coverage.info
            verbose: true